[Unit]
Description=A simple webapp for managing your collections of physical media written in Go with SQLite.

[Service]
Type=simple
ExecStart=/usr/bin/collectionDB -config /etc/collectionDB/config.yml

[Install]
WantedBy=multi-user.target
