[Unit]
Description=A simple webapp for managing your collections of physical media written in Go with SQLite.

[Service]
Type=simple
ExecStart=/usr/bin/collectionDB -config /etc/collectionDB/config.yml

StandardOutput=append:/var/log/collectionDB/default.log
StandardError=append:/var/log/collectionDB/error.log

[Install]
WantedBy=multi-user.target
