{{template "header.html"}}
<div cless="max-w-4xl">
<div class="p-4 flex justify-self-center grid grid-cols-1 place-items-center">
<span class="w-full flex my-1 flex text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl">About CollectionDB</span>
<span class="w-full my-1 flex text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl">{{.Info.Version}}</span>
    <div class="w-fit flex grid grid-cols-2 gap-2 px-4 border-2 h-fit border-gray-300 rounded-xl">
        <div>
            <div class="py-1">
                <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Operating System</span>
            </div>
            <div class="py-1">
                <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Go</span>
            </div>
            <div class="py-1">
                <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Timezone</span>
            </div>
        </div>
        <div>
            <div class="py-1">
                <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">{{.Info.OS}}</span>
            </div>
            <div class="py-1">
                <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">{{.Info.GoVersion}}</span>
            </div>
            <div class="py-1">
                <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">{{.Info.Timezone}}</span>
            </div>
        </div>
    </div>
    </div>
</div>
{{template "footer.html"}}