{{define "entries/create.html"}}
{{template "header.html"}}
<div style="margin-left:150px;padding:1px 16px;height:1000px;">
    <div class="max-w-4xl mx-auto p-4">
      <form action="/create_entry" method="POST">
        <div class="flex justify-between items-center mb-4 pb-4 border-b">
          <div>
            <input class="w-full text-4xl font-bold focus:outline-none" type="text" id="title" name="title" placeholder="Title" required>
          </div>
          <div>
            <button type="submit">
              <a class="mr-1 text-lg bg-blue-200 text-blue-800 py-2 px-2 rounded-md border-2 border-blue-800 hover:bg-blue-400">Create</a>
            </button>
            <button>
              <a href="/" class="ml-1 text-lg bg-red-200 text-red-800 py-2 px-2 rounded-md border-2 border-red-800 hover:bg-red-400">Cancel</a>
            </button>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div>
            <label for="year" class="text-lg mr-2">Year:</label>
            <input type="number" id="year" name="year" value="2000" required class="border-2 border-blue-800 rounded-md">
            <div>
              <label for="mediatypes" class="text-lg mr-2">Type of physical media:</label>
              <select id="mediatypeid" name="mediatypeid" class="mr-2" required>
                {{range .MediaTypes}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                <option value="0" selected hidden>--Choose Media Type--</option>
              </select>
            </div>
            <label for="IMDB" class="text-lg mr-2">Year:</label>
            <input type="text" id="imdbid" name="imdbid" placeholder="IMDB ID" class="border-2 border-blue-800 rounded-md">
            <div>
              <label for="collection" class="text-lg mr-2">Collection:</label>
              <select id="collid" name="collid" class="mr-2" required>
                {{range .Collections}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                <option value="0" selected hidden>--Choose Collection--</option>
              </select>
            </div>
            <div>
              <label for="genres" class="text-lg mr-2">Genre:</label>
              <select id="genreid" name="genreid" class="mr-2" required>
                {{range .Genres}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                <option value="0" selected hidden>--Choose Genre--</option>
              </select>
            </div>
            <div>
              <label for="bar_code" class="text-lg mr-2">Barcode:</label>
              <input type="text" id="bar_code" name="bar_code" placeholder="Barcode" class="border-2 border-blue-800 rounded-md">
            </div>
            <div>
              <label for="region_code" class="text-lg mr-2">Regioncode:</label>
              <input type="text" id="region_code" name="region_code" placeholder="Regioncode" class="border-2 border-blue-800 rounded-md">
            </div>
            <div>
              <label for="release_date" class="text-lg mr-2">Media release date:</label>
              <input type="date" id="release_date" name="release_date" value="1990-01-01" min="1900-01-01" max="3000-12-31" class="border-2 border-blue-800 rounded-md">
            </div>
            <div>
              <label for="is_digital" class="text-lg mr-2">Media is digitized:</label>
              <input type="checkbox" id="is_digital" name="is_digital" class="mr-2">
            </div>
            <div>
              <label for="is_booklet" class="text-lg mr-2">Media has booklet:</label>
              <input type="checkbox" id="is_booklet" name="is_booklet" class="mr-2">
            </div>
            <div>
              <label for="casetypes" class="text-lg mr-2">Type of Case:</label>
              <select id="casetypeid" name="casetypeid" class="mr-2" required>
                {{range .Types}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                <option value="0" selected hidden>--Choose Case Type--</option>
              </select>
            </div>
          </div>
          <div>
            <textarea id="plot" name="plot" rows="5" placeholder="Plot" required class="w-full p-4 text-md border-2 border-blue-800 rounded-md"></textarea>
            <textarea id="comment" name="comment" rows="3" placeholder="Comment" required class="w-full p-4 text-md border-2 border-blue-800 rounded-md"></textarea>
          </div>
        </div>
      </form>
    </div>
{{template "footer.html"}}
{{end}}