{{define "collections/404.html"}}
{{template "header.html"}}
<div style="margin-left:150px;padding:1px 16px;height:1000px;">
<div class="p-4 w-full grid grid-cols-1 place-items-center">
    <div class="w-fit p-2 flex grid grid-cols-1 place-items-center border-2 border-gray-300 rounded-xl">
        <picture>
            <source media="(max-width: 250px)" srcset="/static/logo.svg">
            <img class="mx-auto" src="/static/logo.svg">
        </picture>
        <span class="w-full my-1 flex grid grid-cols-1 text-2xl place-items-center border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl">
            <h1>404</h1>
            <h2>The Collection you are looking for could not be found!</h2>
        </span>
    </div>
</div>
</div>
{{template "footer.html"}}
{{end}}