{{template "header.html"}}
<div id="app" style="margin-left:150px;padding:1px 16px;height:1000px;">
    <div class="mx-auto p-4 grid grid-cols-2 gap-2 flex">
      <a v-if="Collections.length === 0" href="/create_collection" class="mx-auto text-lg bg-blue-200 text-blue-800 py-2 px-2 rounded-md border-2 border-blue-800 hover:bg-blue-400">Create First Collection</a>
      <a v-else href="/create_collection" class="mx-auto text-lg bg-blue-200 text-blue-800 py-2 px-2 rounded-md border-2 border-blue-800 hover:bg-blue-400">Create New Collection</a>
      <a v-if="Entries.length === 0" href="/create_entry" class="mx-auto text-lg bg-blue-200 text-blue-800 py-2 px-2 rounded-md border-2 border-blue-800 hover:bg-blue-400">Create First Entry</a>
      <a v-else href="/create_entry" class="mx-auto text-lg bg-blue-200 text-blue-800 py-2 px-2 rounded-md border-2 border-blue-800 hover:bg-blue-400">Create New Entry</a>
      <div style="margin-left:150px;padding:1px 16px;height:1000px;">
          <div class="mx-auto p-4 grid grid-cols-2 gap-2 flex">
              <div v-if="Collections.length === 0" class="flex">
                Keine Collections vorhanden.
              </div>
              <div v-else class="grid gap-2">
                  <div v-for="col in Collections" :key="col.collectionID" class="collection-card bg-white p-4 border-2">
                      <div class="flex items-center">
                          <a :href="'/collections/' + col.collectionID" class="text-xl font-semibold">[[ col.name ]]</a>
                          <span class="ml-auto text-xs bg-blue-200">[[ col.Category.catname ]]</span>
                          <span class="ml-1 text-xs bg-green-200">Entries: [[ col.entrycount ]]</span>
                      </div>
                      <p class="text-sm text-gray-500">[[ col.description ]]</p>
                      <button data-id="col.collectionID" data-name="col.name" class="bg-orange-200 delete-collect-btn">Delete</button>
                  </div>
              </div>
          </div>
      </div>
      <div style="margin-left:150px;padding:1px 16px;height:1000px;">
          <div class="mx-auto p-4 grid grid-cols-2 gap-2 flex">
              <div v-if="Entries.length === 0" class="flex mx-auto">
                <a>Keine Einträge vorhanden.</a>
              </div>
              <div v-else class="grid gap-2">
                  <div v-for="ent in Entries" :key="ent.entryID" class="entry-card bg-white p-4 border-2">
                      <div class="flex items-center">
                          <a :href="'/entries/' + ent.entryID" class="text-xl font-semibold">[[ ent.title ]]</a>
                      </div>
                      <p class="text-sm text-gray-500">[[ ent.plot ]]</p>
                      <button @click="deletething(ent.entryID, ent.title, 'entries')" class="bg-orange-200">Delete</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
{{template "footer.html"}}