{{define "stock/index.html"}}
{{template "header.html"}}
<div id="stock" style="margin-left:150px;padding:1px 16px;height:1000px;">
    <div class="mx-auto p-4 grid grid-cols-5 gap-2 flex">
      <div class="p-4 border-2 h-fit border-gray-300 rounded-xl">
        <div class="pb-2">
          <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Media Types</span>
        </div>
        <div v-for="media in MediaTypes" :key="media.mediatypeid" class="stock-card grid grid-cols-2 justify-between p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div>    
            <a class="w-fit flex bg-blue-200 text-blue-800 py-2 px-2 rounded-xl">[[ media.name ]]</a>
          </div>
            <div class="flex justify-self-end">
              <button @click="deletething(media.mediatypeid, media.name, 'mediatype')" class="w-fit bg-orange-200 text-xs text-orange-800 my-0.5 px-2 rounded-md border-2 border-orange-800 hover:bg-orange-400">Delete</button>
            </div>
        </div>
        <div class="justify-items-end grid grid-cols-2 p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div class="w-full border-2 p-1 my-1 border-gray-300 rounded-xl">
          <form action="/stock/mediatype/create" method="POST">
            <input class="w-full text-s font-bold focus:outline-none" type="text" id="name" name="name" placeholder="Enter Media Type" required>
            </div>
            <button class="w-fit" type="submit">
              <a class="w-fit flex text-xs bg-green-200 text-green-800 py-2 px-2 rounded-md border-2 border-green-800 hover:bg-green-400">Create </a>
            </button>
          </form>
        </div>
      </div>
      <div class="p-4 border-2 h-fit border-gray-300 rounded-xl">
        <div class="pb-2">
          <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Publishers</span>
        </div>
        <div v-for="pub in Publishers" :key="pub.publisherid" class="stock-card grid grid-cols-2 justify-between p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div>    
            <a class="w-fit flex bg-blue-200 text-blue-800 py-2 px-2 rounded-xl">[[ pub.name ]]</a>
          </div>
            <div class="flex justify-self-end">
              <button @click="deletething(pub.publisherid, pub.name, 'publisher')" class="w-fit bg-orange-200 text-xs text-orange-800 my-0.5 px-2 rounded-md border-2 border-orange-800 hover:bg-orange-400">Delete</button>
            </div>
        </div>
        <div class="justify-items-end grid grid-cols-2 p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div class="w-full border-2 p-1 my-1 border-gray-300 rounded-xl">
          <form action="/stock/publisher/create" method="POST">
            <input class="w-full text-s font-bold focus:outline-none" type="text" id="name" name="name" placeholder="Enter Publisher" required>
            </div>
            <button class="w-fit" type="submit">
              <a class="w-fit flex text-xs bg-green-200 text-green-800 py-2 px-2 rounded-md border-2 border-green-800 hover:bg-green-400">Create</a>
            </button>
          </form>
        </div>
      </div>
      <div class="p-4 border-2 h-fit border-gray-300 rounded-xl">
        <div class="pb-2">
          <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Case Types</span>
        </div>
        <div v-for="caset in CaseTypes" :key="caset.casetypeid" class="stock-card grid grid-cols-2 justify-between p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div>    
            <a class="w-fit flex bg-blue-200 text-blue-800 py-2 px-2 rounded-xl">[[ caset.name ]]</a>
          </div>
            <div class="flex justify-self-end">
              <button @click="deletething(caset.casetypeid, caset.name, 'casetype')" class="w-fit bg-orange-200 text-xs text-orange-800 my-0.5 px-2 rounded-md border-2 border-orange-800 hover:bg-orange-400">Delete</button>
            </div>
        </div>
        <div class="justify-items-end grid grid-cols-2 p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div class="w-full border-2 p-1 my-1 border-gray-300 rounded-xl">
          <form action="/stock/casetype/create" method="POST">
            <input class="w-full text-s font-bold focus:outline-none" type="text" id="name" name="name" placeholder="Enter Case Type" required>
            </div>
            <button class="w-fit" type="submit">
              <a class="w-fit flex text-xs bg-green-200 text-green-800 py-2 px-2 rounded-md border-2 border-green-800 hover:bg-green-400">Create</a>
            </button>
          </form>
        </div>
      </div>
      <div class="p-4 border-2 h-fit border-gray-300 rounded-xl">
        <div class="pb-2">
          <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Categories</span>
        </div>
        <div v-for="cat in Categories" :key="cat.categoyid" class="stock-card grid grid-cols-2 justify-between p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div>    
            <a class="w-fit flex bg-blue-200 text-blue-800 py-2 px-2 rounded-xl">[[ cat.name ]]</a>
          </div>
            <div class="flex justify-self-end">
              <button @click="deletething(cat.categoryid, cat.name, 'category')" class="w-fit bg-orange-200 text-xs text-orange-800 my-0.5 px-2 rounded-md border-2 border-orange-800 hover:bg-orange-400">Delete</button>
            </div>
        </div>
        <div class="justify-items-end grid grid-cols-2 p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div class="w-full border-2 p-1 my-1 border-gray-300 rounded-xl">
          <form action="/stock/category/create" method="POST">
            <input class="w-full text-s font-bold focus:outline-none" type="text" id="name" name="name" placeholder="Enter Category" required>
            </div>
            <button class="w-fit" type="submit">
              <a class="w-fit flex text-xs bg-green-200 text-green-800 py-2 px-2 rounded-md border-2 border-green-800 hover:bg-green-400">Create</a>
            </button>
          </form>
        </div>
      </div>
      <div class="p-4 border-2 h-fit border-gray-300 rounded-xl">
        <div class="pb-2">
          <span class="text-xl border-2 border-blue-300 text-blue-800 py-2 px-2 rounded-xl flex">Genres</span>
        </div>
        <div v-for="genre in Genres" :key="genre.genreid" class="grid grid-cols-2 justify-between p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div>    
            <a class="w-fit flex bg-blue-200 text-blue-800 py-2 px-2 rounded-xl">[[ genre.name ]]</a>
          </div>
            <div class="flex justify-self-end">
              <button @click="deletething(genre.genreid, genre.name, 'genre')" class="w-fit bg-orange-200 text-xs text-orange-800 my-0.5 px-2 rounded-md border-2 border-orange-800 hover:bg-orange-400">Delete</button>
            </div>
        </div>
        <div class="justify-items-end grid grid-cols-2 p-2 border-2 my-1 border-gray-300 rounded-xl">
          <div class="w-full border-2 p-1 my-1 border-gray-300 rounded-xl">
          <form action="/stock/genre/create" method="POST">
            <input class="w-full text-s font-bold focus:outline-none" type="text" id="name" name="name" placeholder="Enter Genre" required>
            </div>
            <button class="w-fit" type="submit">
              <a class="w-fit flex text-xs bg-green-200 text-green-800 py-2 px-2 rounded-md border-2 border-green-800 hover:bg-green-400">Create</a>
            </button>
          </form>
        </div>
      </div>
    </div>
{{template "footer.html"}}
{{end}}