<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Entry: {{.Entry.Title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="max-w-4xl mx-auto p-4">
      <form action="/entries/{{.Entry.ID}}/edit" method="POST" class="bg-white p-6">
        <div class="flex justify-between items-center mb-4 pb-4 border-b">
          <div class="flex items-center">
            <div class="mb-4">
              <input type="text" id="title" name="title" value="{{.Entry.Title}}" required
              class="w-full p-2 text-4xl font-bold focus:outline-none">
            </div>
          </div>
          <div>
            <button type="submit" class="text-lg bg-blue-200 text-blue-800 py-2 px-2 rounded-md border-2 border-blue-800">
            Edit Entry
            </button>
          </div>
          <a href="/" class="text-lg bg-red-200 text-red-800 py-2 px-2 rounded-md border-2 border-red-800">Cancel</a>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div>
            <label for="year" class="text-lg mr-2">Year:</label>
            <input type="number" id="year" name="year" value="{{.Entry.Year}}" required class="border-2 border-blue-800 rounded-md">
          <div>
            <label for="medium" class="text-lg mr-2">Type of physical media:</label>
            <select id="medium" name="medium" class="mr-2">
              <option value="{{.Entry.Medium}}">--unchanged--</option>
              <option value="cd">CD</option>
              <option value="dvd">DVD</option>
              <option value="bd">BlueRay</option>
            </select>
          </div>
          <div>
          <label for="collid" class="text-lg mr-2">Collection:</label>
          <select id="collid" name="collid" class="mr-2">
          {{range .Collections}}
          <option value="{{.CollID}}">{{.Name}}</option>
          {{end}}
          <option value="{{.Entry.CollID}}" selected hidden>--unchanged--</option>
          </select>
          </div>
          <label for="is_digital" class="text-lg mr-2">Media is digitized:</label>
          {{if .Entry.IsDigital}}
            <input type="checkbox" id="is_digital" name="is_digital" class="mr-2" checked>
          {{else}}
            <input type="checkbox" id="is_digital" name="is_digital" class="mr-2">
          {{end}}
          </div>
          <div>
            <textarea id="plot" name="plot" rows="5" required
            class="w-full p-4 text-md border-2 border-blue-800 rounded-md">{{.Entry.Plot}}</textarea>
          </div>
        </div>
      </form>
      <p class="text-sm text-gray-500"><em>Created on: {{.Entry.CreatedAt}} - Edited on: {{.Entry.EditedAt}}</em></p>
    </div>
  </body>
</html>