{{define "collections/edit.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Collection: {{.Collection.Name}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="max-w-4xl mx-auto p-4">
      <form action="/collections/{{.Collection.ID}}/edit" method="POST">
        <div class="flex justify-between items-center mb-4 pb-4 border-b">
          <div>
            <input class="w-full text-4xl font-bold focus:outline-none" type="text" id="name" name="name" value="{{.Collection.Name}}" required>
          </div>
          <div>
            <button type="submit">
              <a class="mr-1 text-lg bg-blue-200 text-blue-800 py-2 px-2 rounded-md border-2 border-blue-800 hover:bg-blue-400">Confirm</a>
            </button>
            <button>
              <a href="/" class="ml-1 text-lg bg-red-200 text-red-800 py-2 px-2 rounded-md border-2 border-red-800 hover:bg-red-400">Cancel</a>
            </button>
          </div>  
        </div>
        <div class="grid grid-cols-2 gap-2 mb-6">
          <div>
            <label for="catid" class="text-lg mr-2">Category:</label>
            <select id="catid" name="catid" class="mr-2" required>
              {{range .Categories}}
              <option value="{{.ID}}">{{.Name}}</option>
              {{end}}
              <option value="{{.Collection.Category.ID}}" selected hidden>{{.Collection.Category.Name}}</option>
            </select>
          </div>
          <div>
            <textarea id="description" name="description" rows="5" required class="w-full p-4 text-md border-2 border-blue-800 rounded-md">{{.Collection.Description}}</textarea>
          </div>
        </div>
      </form>
      <p class="text-sm text-gray-500"><em>Created on: {{.Collection.CreatedAt}} - Edited on: {{.Collection.EditedAt}}</em></p>
    </div>
  </body>
</html>
{{end}}